*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, sans-serif;
    background: #FFF;
}
header {
    background: #BA9D5A;
    padding: 10px 20px;
}
h1 {
    color: #fff;
    font-size: 14px;
}
/* 
*/
/* トップページ */
h2 {
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    padding-bottom: 10px;
    border-bottom: #BA9D5A solid 1.8px;
}
#firstPage {
    width:100%;
    padding: 20px;
    margin: 0 auto;
}

.dis {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0 0 0;
}
.dis p{
    font-size: 12px;
}
.formBtn {
    display: block;
    font-weight: bold;
    font-size: 14px;
    width: 90%;
    background: #BA9D5A;
    color: #FFF;
    border: 0px;
    padding: 10px 20px;
    border-radius: 30px;
}
.backBtn {
    display: block;
    font-weight: bold;
    font-size: 14px;
    width: 90%;
    background: #fff;
    color: #000;
    border: #BA9D5A solid 1px;
    padding: 9px 19px;
    border-radius: 30px;
}
footer {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.policy {
    font-size: 12px;
    text-align: center;
    color: #0000EE;
}
/* 
*/
/* フォームのページ */

.flow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.flow div strong {
    display: inline-block;
    padding: 6px 12px;
    background: #f1f1f1;
    color: #FFF;
    border-radius: 50%;
    border: double #fff;
}
.flow div span {
    font-size: 11px;
}
.flow-item.active {
    background: #BA9D5A;
}
.flow div:nth-child(1),
.flow div:nth-child(3),
.flow div:nth-child(5) {
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flow div:nth-child(2),
.flow div:nth-child(4) {
    width: 40px;
    text-align: center;
}
.flow div:nth-child(2) span,
.flow div:nth-child(4) span{
    display: inline-block;
    width: 20px;
    height: 1.8px;
    background: #909090;
}

#formMenu,
#formName {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
form {
    padding: 20px;
}
.form-item {

}
.form-q {
}
.form-q .req {
    background: #ff0000;
}
.form-a input{
    padding: 8px 10px;
    width: 100%;
    font-size: 16px;
    border: solid 2px #FFF;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.1);
}
.form-a input:focus{
    outline: none; /* デフォルトのアウトラインを削除 */
    border: 2px solid #BA9D5A; /* 新しい枠線の色 */
}
.form-a input::placeholder {
    color: rgba(30, 30, 30, 0.3); /* 黒色の半透明 */
}
.form-c div{
    padding: 8px;
    text-align: center;
    background: #BA9D5A;
    color: #FFF;
    margin-top: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

#formConfirmation {
    padding: 20px;
}
.confirmation-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}