*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, sans-serif;
    background: #FFF;
}
header {
    background: #A4A0A0;
    padding: 10px 20px;
}
h1 {
    color: #fff;
    font-size: 14px;
}
/* 
*/
/* トップページ */
h2 {
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: #A4A0A0 solid 1.8px;
}
#firstPage {
    width:100%;
    padding: 20px;
    margin: 0 auto;
}

.dis {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}
.dis p{
    font-size: 13px;
}
.formBtn {
    display: block;
    font-weight: bold;
    font-size: 14px;
    width: 90%;
    margin: 0 auto;
    background: #A4A0A0;
    color: #FFF;
    border: 0px;
    padding: 10px 20px;
    border-radius: 30px;
}
.backBtn {
    display: block;
    font-weight: bold;
    font-size: 14px;
    width: 90%;
    margin: 0 auto;
    background: #fff;
    color: #000;
    border: #A4A0A0 solid 1px;
    padding: 9px 19px;
    border-radius: 30px;
}
footer {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.policy {
    font-size: 12px;
    text-align: center;
    color: #0000EE;
}
/* 
*/
/* フォームのページ */

.flow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.flow div strong {
    display: inline-block;
    padding: 6px 12px;
    background: #f1f1f1;
    color: #FFF;
    border-radius: 50%;
    border: double #fff;
}
.flow div span {
    font-size: 11px;
}
.flow-item.active {
    background: #A4A0A0;
}
.flow div:nth-child(1),
.flow div:nth-child(3),
.flow div:nth-child(5) {
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flow div:nth-child(2),
.flow div:nth-child(4) {
    width: 40px;
    text-align: center;
}
.flow div:nth-child(2) span,
.flow div:nth-child(4) span{
    display: inline-block;
    width: 20px;
    height: 1.8px;
    background: #909090;
}

#formMenu,
#formName,
#formConfirmation {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
form {
    padding: 20px;
}
.form-item {

}
label {
    font-size: 14px;
}
.form-q .req {
    color: #ff0000;
}
.form-a {
    margin: 12px 0 0 0;
}
.form-a input{
    padding: 8px 10px;
    width: 100%;
    font-size: 16px;
    border: solid 2px #FFF;
    border-radius: 10px;
    box-shadow: 0px 1px 8px 2px  rgba(0, 0, 0, 0.1);
}
.form-a input:focus{
    outline: none; /* デフォルトのアウトラインを削除 */
    border-color: #A4A0A0; /* 新しい枠線の色 */
}
.form-a input::placeholder {
    color: rgba(30, 30, 30, 0.3); /* 黒色の半透明 */
}
.form-a select {
    margin-right: 8px;
    font-size: 16px;
    color: rgba(30, 30, 30, 0.3); /* 黒色の半透明 */
    padding: 4px 12px;
    border: solid 2px #FFF;
    border-radius: 10px;
    box-shadow: 0px 1px 8px 2px  rgba(0, 0, 0, 0.1);
}
.form-a select:focus{
    outline: none; /* デフォルトのアウトラインを削除 */
    border-color: #A4A0A0; /* 新しい枠線の色 */
}
textarea {
    margin: 12px 0 0 0;
    width: 100%;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 8px 2px  rgba(0, 0, 0, 0.1);
    resize: vertical; /* ユーザーによるリサイズを縦方向に限定 */
    font-size: 16px;
}
textarea:focus {
    border-color: #A4A0A0;;
    outline: none; /* ブラウザのデフォルトのフォーカススタイルを削除 */
}
.form-c div{
    padding: 8px;
    text-align: center;
    background: #fff;
    color: #333;
    margin-top: 12px;
    box-shadow: 0px 1px 8px 2px  rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
#formName .form-c {
    display: flex;
    gap: 12px;
    align-items: center;
}
.confirmation-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.confirmation-content span {
    color: #A4A0A0;
}

#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* 白くぼかした背景 */
    z-index: 1000; /* 他の要素より前面に表示 */
}
#loadingSpinner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loadingSpinner span:nth-child(1){
    position: relative;
    display: block;
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #21a2f9; /* Blue */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
}
#loadingSpinner span:nth-child(2){
    position: absolute;
    font-size: 0.8rem;
    color: #21a2f9;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
